img {
    width: 3em;
}
.window {
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main {
    padding: 4em 0;
    min-width: 60%;
}

table {
    background-color: white;
    min-width: 100%;
}
table thead tr th {
    padding: .5em;
    text-align: left;
    font-size: .9rem;
}
table tbody tr td {
    padding: .5em;
    text-align: left;
    font-size: .9rem;
}

.banner {
    background-color: rgb(255, 255, 255);
    padding: 1em .5em;
}
.banner h1 {
    color: rgb(248, 247, 247);
    background-color: rgba(14, 240, 82, 0.527);
    font-size: 1rem;
    padding: 1em;
    border: .11em solid rgb(0, 255, 115);
    border-radius: .2em;
}

.material-icons {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
}

.ping {
    color: rgb(175, 174, 174);
    cursor: pointer;
}
.ping:hover {
    color: rgb(31, 31, 31);
}

.delete {
    color: rgb(204, 16, 16);
    font-size: 1.2rem;
    cursor: pointer;
}
.delete:hover {
    color: rgb(165, 12, 12);
}

.badge {
    font-size: .7rem;
    padding: .5em;
    border-radius: .5em;
    color: rgb(255, 255, 255);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.loader img {
    width: 5rem !important;
}

.fixed-bg {
    background-color: rgba(0, 0, 0, 0.534);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
}

.alert {
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: rgb(255, 255, 255);
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: .8em;
    min-width: 8rem;
    border-radius: .2em;
    animation: slide 1s ease-in;
}
.alert p {
    font-size: .8rem;
}

.alert .material-icons {
    font-size: 1rem;
    cursor: pointer;
}

@keyframes slide {
    0% {
        left: -10%;
    }
    50%{
        left: 4%;
    }
    100%{
        left: 2%;
    }
}
